.hexagono {
    width: 100px;
    height: 115.47px;
    background-color: #3498db;
    position: relative;
    margin: 57.74px 0;
}

.hexagono:before,
.hexagono:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagono:before {
    top: -28.87px;
    border-bottom: 28.87px solid #3498db;
}

.hexagono:after {
    bottom: -28.87px;
    border-top: 28.87px solid #3498db;
}