@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-xl md:text-3xl lg:text-4xl;
}

h2 {
  @apply text-lg md:text-2xl lg:text-3xl;
}

h3 {
  @apply text-base md:text-xl lg:text-2xl;
}

h4 {
  @apply text-base md:text-lg lg:text-xl;
}

h5 {
  @apply text-sm md:text-base lg:text-lg;
}

h6 {
  @apply text-xs md:text-sm lg:text-base;
}

p {
  @apply text-base md:text-lg lg:text-xl;
}

.hero_background {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(18% 28% at 24% 50%, #FFEFEFB0 7%, #073AFF00 100%), radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%), radial-gradient(70% 53% at 36% 76%, #FCEFEF45 0%, #073AFF00 100%), radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(42% 53% at 34% 72%, #11090924 7%, #073AFF00 100%), radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%), radial-gradient(21% 37% at 72% 23%, #FF6D6D24 24%, #073AFF00 100%), radial-gradient(35% 56% at 91% 74%, #FFF2F280 9%, #073AFF00 100%), radial-gradient(74% 86% at 67% 38%, #C4BCBC30 24%, #073AFF00 100%), linear-gradient(125deg, #00000094 1%, #FFFFFF00 100%);
}

h1 {
  @apply text-xl md:text-3xl lg:text-4xl xl:text-6xl;
}

h2 {
  @apply text-lg md:text-2xl lg:text-3xl xl:text-4xl;
}

h3 {
  @apply text-base md:text-xl lg:text-2xl;
}

h4 {
  @apply text-base md:text-lg lg:text-xl;
}

h5 {
  @apply text-sm md:text-base lg:text-lg;
}

h6 {
  @apply text-xs md:text-sm lg:text-base;
}

p {
  @apply text-base md:text-lg lg:text-xl;
}

.icon {
  @apply size-5 md:size-6 lg:size-7 min-w-5 md:min-w-6 lg:min-w-7;
}

/* text-4xl leading-[2.1875rem] tracking-[0.045rem] mb-5 md:w-10/12 lg:w-full lg:tracking-[0.0875rem] lg:mb-[1.875rem] lg:pr-12 lg:text-[3.2rem] lg:leading-[3.5rem] xl:text-[4rem] xl:leading-[3.60rem] 2xl:pr-0 2xl:text-[4.375rem] 2xl:leading-[4.3125rem] */